<% bodyid "missions" %>

<h1>Listing missions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Short description</th>
    <th>Long description</th>
  </tr>

<% @missions.each do |mission| %>
  <tr>
    <td><%=h mission.name %></td>
    <td><%=h mission.short_description %></td>
    <td><%=h mission.long_description %></td>
    <td><%= link_to 'Show', mission %></td>
    <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
    <td><%= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mission', new_mission_path %>